html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font: 16px / 1 sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.google-navbar {
  display: flex;
  justify-content: space-between;
}

.navbar-left, .navbar-right {
  display: flex;
  padding: 0 30px;
  align-items: center;
}

li {
  list-style: none;
}

.navbar-link {
  padding-left: 15px;
  text-decoration: none;
  color: #000;
  opacity: 0.75;
  font-size: 13px;
}

.square {
  display: inline-block;
  height: 26px;
  width: 26px;
  background-color: black;
}

.login {
  width: 50px;
  padding: 8px;
  color: #FFF;
  font-weight: bold;
  border-radius: 2px;
  background-color: #4285f4;
  text-decoration: none;
  margin-left: 15px;
  font-size: 13px;
}

.main-content {
  margin: auto;
}

.main-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-form {
  width: 100%;
}

.search-field {
  width: 100%;
  height: 40px;
  margin-bottom: 30px;
  border-radius: 2px;
  border: 1px solid gray;
}

.search-buttons {
  display: flex;
  justify-content: space-around;
}

.search-buttons > button {
  padding: 10px;
  border-radius: 5px;
  border-style: none;
  background: #f2f2f2;
  color: #6B6B6B;
  font-weight: bold;
}

.navbar-bottom {
  display: flex;
  justify-content: space-between;
  background: #F2F2F2;
  border-top: 1px solid #e4e4e4;
}
